* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 8px 16px;
}

#messages li:nth-child(odd) {
  background: #eee;
  
}

#messages li:last-child {
  -webkit-animation: fadein 1s; /* Chrome, Safari, Opera */
  animation: fadein 1s;
}

@-webkit-keyframes fadein {
    from {background: violet;}
    to {background: #eee;}
}

/* Standard syntax */
@keyframes fadein {
    from {background: violet;}
    to {background: #eee;}
}

.redTeam {
  color: red;
}

.blueTeam {
  color: blue;
}
