* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

form {
  background: #000;
  bottom: 0;
  padding: 2px;
  position: fixed;
  width: 100%;
}

form input {
  border: 0;
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 4px 8px;
  -webkit-animation: fadeineven 1s; /* Chrome, Safari, Opera */
  animation: fadeineven 1s;
}

#messages li:nth-child(odd) {
  background: #eee;
  -webkit-animation: fadeinodd 1s; /* Chrome, Safari, Opera */
  animation: fadeinodd 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeineven {
    from {background: violet;}
    to {background: white;}
}

/* Standard syntax */
@keyframes fadeineven {
    from {background: violet;}
    to {background: white;}
}

@-webkit-keyframes fadeinodd {
    from {background: violet;}
    to {background: #eee;}
}

/* Standard syntax */
@keyframes fadeinodd {
    from {background: violet;}
    to {background: #eee;}
}
